[mysqld]
# 1. 伺服器唯一識別碼 (Debezium 識別用)
server-id         = 123456
# 2. 開啟 Binlog 並指定檔名前綴
# 例如 mysql-bin.000001
log_bin           = mysql-bin
# 3. 核心 : 必須設定為 ROW 格式，Debezium 才能解析每一行的變化
binlog_format     = ROW
# 4. 確保 Binlog 包含所有資料列的變動資訊
binlog_row_image  = FULL
# 5. (選配) 讓 Binlog 保留更久一點，避免 Debezium 斷線太久資料被刪除
binlog_expire_logs_seconds  = 864000

# 預設 OFF，使用 ROW 模式時，Binlog 只會紀錄 「資料變成什麼」
# 不會紀錄當初哪一行 SQL 指令造成
# ON 會紀錄這次變動的原始 SQL 指令
binlog_rows_query_log_events = ON